:root {
    --property-panel-width: 30vw;
    --property-panel-max-width: 500px;
    --header-height: 36px;
    --simulation-controller-height: 50px;
    --simulation-controller-width: 400px;
    --simulation-controller-padding: 5px;
    --simulation-controller-margin: 5px;
    --simulation-controller-total-height: 70px;
    --property-li-height: 30px;
    --graph-panel-width: 30vw;
}


/* Button Classes */

.dark-button,
.white-button {
    border: 1px solid #1a1a1a;
}

.dark-button {
    background-color: #282828;
}

.white-button {
    background-color: #3f3f3f;
}

.invisible-bg-button {
    background-color: rgba(0, 0, 0, 0);
    border: none;
}

.active-button {
    cursor: pointer;
    color: #ffffff;
    transition: background-color .25s, transform .05s;
}

.inactive-button {
    background-color: #474747;
    color: #a0a0a0;
    cursor: default;
}

.inactive-button>img {
    opacity: .25;
}

.active-button:hover {
    background-color: rgba(255, 255, 255, 0.15);
}

.active-button:active {
    transform: scale(0.95);
}

.panel {
    border: 1px solid #2f2f2f;
    background-color: #3f3f3f;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
}

.panel>.panel-header {
    height: 50px;
    width: 100%;
    padding: 5px;
    background-color: #282828;
    display: flex;
    justify-content: flex-start;
    min-width: fit-content;
    align-items: center;
    box-sizing: border-box;
}

.panel>.panel-header>h1 {
    margin: 0;
    color: #ffffff;
    box-sizing: border-box;
    word-wrap: break-word;
    text-shadow: 2px 2px 4px #000000;
    overflow: hidden;
    font-size: 14px;
    flex: 1;
}

.panel>.panel-header>button {
    height: 40px;
    width: 40px;
    max-width: 40px;
    padding: 5px;
    margin: 0 0 0 auto;
    flex: 1;
}

.panel>.panel-content {
    padding: 3px;
}

.modal {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.7);
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 1;
    display: none;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.modal>.panel {
    width: 500px;
}

.alert {
    z-index: 2;
    position: absolute;
    top: calc(var(--header-height) + 5px);
    padding: 0.25em;
    border-radius: 3px;
    font-size: 14px;
    height: 2em;
    left: 20vw;
    right: 20vw;
    display: flex;
    align-items: center;
    box-shadow: 0px 1px 10px -3px #000000;
}

.alert>p {
    display: inline-block;
    margin: 0;
    height: 1em;
}

.alert>button {
    font-size: inherit;
    height: 1.75em;
    width: 1.75em;
    margin: 0 0 0 auto;
    padding: 2px;
}

.alert>button>img {
    filter: invert(1);
    opacity: 0.75;
}

.alert-error {
    background-color: #ff7979;
    border: 1px solid #eb4d4b;
    color: #000000;
}

.alert-warning {
    background-color: #f6e58d;
    border: 1px solid #f9ca24;
    color: rgba(0, 0, 0, 0.9);
}


/*
    Default element values
*/

* {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    user-select: none;
}

body {
    margin: 0px;
    overflow: hidden;
    font: 1.2em "CMU Serif";
    font-style: italic;
    color: #ffffff;
}

header {
    width: 100vw;
    height: var(--header-height);
    padding: 2px;
    background-color: #282828;
    display: flex;
    box-sizing: border-box;
    justify-content: left;
    align-items: center;
}

header>div {
    height: 100%;
    margin-right: 20px;
    display: flex;
}

header>div>button {
    height: 100%;
    width: calc(var(--header-height) - 4px);
    padding: 5px;
}

button {
    box-sizing: border-box;
    display: -moz-inline-grid;
    display: -ms-inline-grid;
    display: inline-grid;
    padding: 10px;
    border-radius: 4px;
    outline: none;
    font-family: inherit;
    align-items: center;
    justify-content: center;
}

button>img {
    width: 100%;
    height: 100%;
}

main {
    width: 100vw;
    height: calc(100vh - var(--header-height));
    display: flex;
}


/*Application Wrapper*/

#application-wrapper {
    width: 100%;
    height: 100%;
}


/*Simulator Visualizer*/

#simulator-visualizer {
    height: 100%;
    width: calc(100vw - var(--header-height));
    vertical-align: middle;
    background-color: #ffffff;
    position: relative;
}


/* Canvas Holder */

#canvas-holder {
    width: 100%;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
}


/* Simulator HUD */

#simulator-hud {
    position: absolute;
    pointer-events: none;
    width: 100%;
    padding: 5px;
    height: 100%;
    box-sizing: border-box;
    z-index: 1;
    right: 0;
    top: 0;
}

#simulator-hud>div {
    max-height: calc(100% - var(--simulation-controller-total-height));
    position: absolute;
    z-index: 1;
    pointer-events: all;
}


/* Simulation Controller Wrapper */

#simulator-hud>#simulation-controller-wrapper {
    height: var(--simulation-controller-height);
    width: var(--simulation-controller-width);
    padding: var(--simulation-controller-padding);
    margin: var(--simulation-controller-margin);
    box-sizing: border-box;
    background-color: #3f3f3f;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 4px;
    position: absolute;
    left: calc( 50% - var(--simulation-controller-width) / 2);
    bottom: 0;
}

#simulation-controller-wrapper>div {
    height: 100%;
}

#simulation-controller-wrapper>#simulation-controller-buttons {
    width: auto;
    margin-right: 15px;
    display: flex;
    flex-direction: row;
    flex: 1;
}

#simulation-controller-wrapper>#simulation-controller-buttons>button {
    padding: 5px;
    height: calc(var(--simulation-controller-height) - 2 * var(--simulation-controller-padding));
    width: calc(var(--simulation-controller-height) - 2 * var(--simulation-controller-padding));
    margin-right: 2px;
    vertical-align: middle;
    font-size: 15px;
}

#simulation-controller-wrapper>#simulation-time-wrapper {
    width: inherit;
    display: flex;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    flex: 2;
}

#simulation-controller-wrapper>#simulation-time-wrapper>label {
    margin-right: 5px;
    font-size: 20px;
}

#simulation-controller-wrapper>#simulation-time-wrapper>span {
    height: 100%;
    flex: 1;
    box-sizing: border-box;
    display: block;
}

#simulation-controller-wrapper>#simulation-time-wrapper>span>input {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border: 1px solid #1A1A1A;
    border-radius: 4px;
    font-family: inherit;
    font-size: 20px;
    background-color: #282828;
    color: #ffffff;
    text-align: end;
}


/*Object List*/

#object-list {
    padding: 2px;
    width: var(--header-height);
    background-color: #282828;
    box-sizing: border-box;
}

#object-list>button {
    padding: 5px;
}


/* Property List */

#property-side-panel {
    width: var(--property-panel-width);
    max-width: var(--property-panel-max-width);
    right: 5px;
    box-sizing: border-box;
}

#property-side-panel>.panel-content {
    display: flex;
    flex-direction: column;
    overflow: auto;
}

#object-interactor {
    min-height: 32px;
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
}

#object-interactor>button {
    width: 32px;
    height: 32px;
    padding: 4px;
    margin: 0px 2px;
}

#object-interactor>button:first-child {
    margin-left: 0;
}

#object-interactor>button:last-child {
    margin-right: 0;
}

#property-list {
    margin: 3px 0 0;
    box-sizing: border-box;
    height: 90%;
    padding: 0;
    overflow: auto;
}

#property-list>h1 {
    font-size: 14px;
}

#property-list>li {
    width: 100%;
    font-size: .75em;
    border: 1px solid #191919;
    margin-bottom: 3px;
    box-sizing: border-box;
    border-radius: 4px;
    display: flex;
    align-items: stretch;
}

#property-list>li:last-child {
    margin-bottom: 0px;
}

#property-list>li.active-row {
    background-color: #282828;
}

#property-list>li.inactive-row {
    background-color: #474747;
}

#property-list>li>input {
    margin: auto;
}

#property-list>li>div {
    display: flex;
    flex-flow: column;
    flex-grow: 1;
    padding-left: 5px;
}

#property-list>li>div>div {
    width: 100%;
    height: var(--property-li-height);
    display: flex;
}

#property-list>li>div>div>label {
    margin: auto 4px auto 0;
}

#property-list>li>div>div>input {
    width: 0;
    min-width: 0;
    flex-grow: 1;
    border: 0px;
    margin-right: 5px;
    background-color: rgba(0, 0, 0, 0);
    box-sizing: border-box;
    font-size: inherit;
    font-family: inherit;
    text-align: right;
}

#property-list>li>div>div>button {
    width: var(--property-li-height); 
    padding: 5px;
    margin-left: auto;
}

#property-list>li.active-row input,
#property-list>li.active-row label {
    color: #ffffff;
}

#property-list>li.inactive-row input,
#property-list>li.inactive-row label {
    color: #a0a0a0;
}

#property-list>li>label {
    display: inline-block;
    margin: auto 0px;
    font-size: inherit;
    box-sizing: border-box;
}

#property-list>li>label:first-of-type {
    width: 4em;
    border: solid #474747;
    border-width: 0px 1px 0px 0px;
}

#property-list>.object-locator-row>label:first-of-type {
    text-align: start;
    margin-left: 5px;
}

#property-list>li>button {
    width: var(--property-li-height);
    padding: 2px;
    border: 0px solid #1a1a1a;
    border-right-width: 1px;
    margin-right: 5px;
    box-sizing: border-box;
}

#property-list>.object-locator-row>button:last-of-type {
    margin-left: auto;
    margin-right: 0;
    border: none;
}

#property-list>li>button>img {
    box-sizing: border-box;
}


/* Property Description */

#property-description-modal>.panel {
    box-sizing: border-box;
    max-height: 80%;
}

#property-description-modal>.panel>.panel-content {
    overflow: auto;
}

#property-description-modal article {
    font-size: 1rem;
    text-align: justify;
    text-shadow: 1px 1px #000000;
}

#property-description-modal article h1 {
    text-align: center;
}


/* Graph configuration */

#graph-config-form {
    font-size: 1rem;
    text-shadow: 1px 1px #000000;
}

#graph-config-form>div {
    margin: 10px 0;
}

#graph-config-form select {
    width: 150px;
}


/* Graph panel */

#graph-panel {
    width: var(--graph-panel-width);
    height: calc(var(--graph-panel-width) + 50px);
}

#graph-panel .panel-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(var(--graph-panel-width) - 6px);
    width: calc(var(--graph-panel-width) - 6px);
}

#graph-panel canvas {
    background-color: #ffffff;
    flex-grow: 0;
}