:root {
    --property-panel-width: 30vw;
    --header-height: 36px;
    --simulation-controller-height: 100px;
    --property-li-height: 30px;
    --graph-panel-width: 20vw;
}

@font-face {
    font-family: "CMU Serif";
    src: url("../vendor/cmunbi.ttf");
}

@font-face {
    font-family: "XITS Regular";
    src: url("../vendor/XITS-Regular.otf");
}


/* Button Classes */

.dark-button,
.white-button {
    border: 1px solid #1a1a1a;
}

.dark-button {
    background-color: #282828;
}

.white-button {
    background-color: #3f3f3f;
}

.invisible-bg-button {
    background-color: rgba(0, 0, 0, 0);
    border: none;
}

.active-button {
    cursor: pointer;
    color: #ffffff;
    transition: background-color .25s, transform .05s;
}

.inactive-button {
    background-color: #474747;
    color: #a0a0a0;
    cursor: default;
}

.inactive-button>img {
    opacity: .25;
}

.active-button:hover {
    background-color: rgba(255, 255, 255, 0.15);
}

.active-button:active {
    transform: scale(0.95);
}

.panel {
    border: 1px solid #2f2f2f;
    background-color: rgb(63, 63, 63);
    border-radius: 4px;
    display: flex;
    flex-direction: column;
}

.panel>.panel-header {
    height: 50px;
    width: 100%;
    padding: 5px;
    padding-left: 10px;
    background-color: #282828;
    display: flex;
    justify-content: flex-start;
    min-width: fit-content;
    align-items: center;
    box-sizing: border-box;
}

.panel>.panel-header>h1 {
    margin: 0;
    color: #ffffff;
    box-sizing: border-box;
    word-wrap: break-word;
    text-shadow: 2px 2px 4px #000000;
    overflow: hidden;
    font-size: 14px;
}

.panel>.panel-header>button {
    height: 40px;
    width: 40px;
    padding: 5px;
    margin: 0 0 0 auto;
}

.panel>.panel-content {
    padding: 3px;
}

.modal {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.7);
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 1;
    display: none;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.modal>.panel {
    width: 500px;
}

.alert {
    z-index: 2;
    position: absolute;
    top: calc(var(--header-height) + 5px);
    padding: 0.25em;
    border-radius: 3px;
    font-size: 14px;
    height: 2em;
    left: 20vw;
    right: 20vw;
    display: flex;
    align-items: center;
    box-shadow: 0px 1px 10px -3px #000000;
}

.alert>p{
    display: inline-block;
    margin: 0;
    height: 1em;
}

.alert>button{
    font-size: inherit;
    height: 1.75em;
    width: 1.75em;
    margin: 0 0 0 auto;
    padding: 2px;
}

.alert>button>img{
    filter: invert(1);
    opacity: 0.75;
}

.alert-error {
    background-color: #ff7979;
    border: 1px solid #eb4d4b;
    color: #000000;
}

.alert-warning {
    background-color: #f6e58d;
    border: 1px solid #f9ca24;
    color: rgba(0, 0, 0, 0.9);
}

/*
    Default element values
*/

* {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    user-select: none;
}

body {
    margin: 0px;
    overflow: hidden;
    font: 1.0vw "CMU Serif";
    color: #ffffff;
}

header {
    width: 100vw;
    height: var(--header-height);
    padding: 2px;
    background-color: #282828;
    display: flex;
    box-sizing: border-box;
    justify-content: left;
    align-items: center;
}

header>div {
    height: 100%;
    margin-right: 20px;
    display: flex;
}

body>header>div>button {
    height: 100%;
    width: calc(var(--header-height) - 4px);
    padding: 5px;
}

button {
    box-sizing: border-box;
    display: -moz-inline-grid;
    display: -ms-inline-grid;
    display: inline-grid;
    padding: 10px;
    border-radius: 4px;
    outline: none;
    font-family: inherit;
}

button>img {
    width: 100%;
    height: 100%;
}


/*
    Main
*/

#main-interface {
    width: 100vw;
    height: calc(100vh - var(--header-height));
    display: flex;
}

#mid-menu {
    height: 100%;
    width: calc(100vw - var(--header-height));
    vertical-align: middle;
    background-color: #ffffff;
}

#mid-menu>div {
    width: 100%;
}

#mid-menu>div:first-child {
    height: calc(100% - 100px);
    display: flex;
    box-sizing: border-box;
    position: relative;
}

#mid-menu>div:first-child>.panel {
    max-height: calc(100% - 10px);
    z-index: 1;
    position: absolute;
    margin: 5px;
}

#mid-menu>div:last-child {
    height: var(--simulation-controller-height);
    padding: 10px;
    box-sizing: border-box;
    background-color: rgb(63, 63, 63);
}

#mid-menu>div:last-child>div {
    height: 100%;
    padding: 10px;
    border: 1px solid rgb(47, 47, 47);
    display: flex;
    box-sizing: border-box;
    border-radius: 4px;
    background-color: rgb(100, 100, 100);
}

#mid-menu>div:last-child>div>div>button {
    height: auto;
    width: 58px;
    margin-right: 10px;
    vertical-align: middle;
    font-size: 20px;
}

#mid-menu>div:last-child>div>div {
    display: flex;
    box-sizing: border-box;
    width: 50%;
    height: auto;
    margin-left: auto;
}

#mid-menu>div:last-child>div>div>span {
    margin: auto 5px auto 0px;
    font-size: 20px;
}

#mid-menu>div:last-child>div>div>input {
    height: 100%;
    width: 100%;
    border: 1px solid #1A1A1A;
    border-radius: 4px;
    background-color: #282828;
    display: inline-block;
    box-sizing: border-box;
    font-size: 1.5vw;
    font-family: inherit;
    color: #ffffff;
    text-align: right;
    flex-grow: 1;
}


/*Object Buttons*/

#object-list {
    padding: 2px;
    width: var(--header-height);
    background-color: #282828;
    box-sizing: border-box;
}

#object-list>button {
    padding: 5px;
}


/* Property List */

#property-side-panel {
    width: var(--property-panel-width);
    right: 0;
    box-sizing: border-box;
}

#property-side-panel>.panel-content {
    display: flex;
    flex-direction: column;
    overflow: auto;
}

#object-interactor {
    min-height: 32px;
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
}

#object-interactor>button {
    width: 32px;
    height: 32px;
    padding: 4px;
    margin: 0px 2px;
}

#object-interactor>button:first-child {
    margin-left: 0;
}

#object-interactor>button:last-child {
    margin-right: 0;
}

#property-list {
    margin: 3px 0 0;
    box-sizing: border-box;
    height: 90%;
    padding: 0;
    overflow: auto;
}

#property-list>li {
    width: 100%;
    height: var(--property-li-height);
    font-size: calc(var(--property-li-height) / 2.75);
    border: 1px solid #1a1a1a;
    margin-bottom: 3px;
    box-sizing: border-box;
    background-color: #282828;
    border-radius: 4px;
    display: flex;
}

#property-list>li:last-child {
    margin-bottom: 0px;
}

#property-list>li>input {
    width: 30%;
    border: 0px;
    margin-right: 5px;
    background-color: #00000000;
    background-color: rgba(0, 0, 0, 0);
    box-sizing: border-box;
    color: #ffffff;
    font-size: inherit;
    font-family: inherit;
    text-align: right;
    flex-grow: 1;
}

#property-list>li>label {
    display: inline-block;
    margin: auto 0px;
    font-size: inherit;
    box-sizing: border-box;
}

#property-list>li>button {
    height: calc(var(--property-li-height) - 6px);
    width: calc(var(--property-li-height) - 6px);
    padding: 2px;
    border: 0px solid #1a1a1a;
    border-right-width: 1px;
    margin-right: 5px;
    box-sizing: content-box;
}

#property-list>li>button>img {
    box-sizing: border-box;
}

#property-list>li>label:first-child {
    width: 30%;
    padding-left: .5vw;
    border: solid #474747;
    border-width: 0px 1px 0px 0px;
}

#property-list>li>label:last-child {
    padding-right: .5vw;
    box-sizing: content-box;
    display: inline;
    text-align: right;
    overflow: hidden;
}


/* Property Description */

#property-description-modal>.panel {
    box-sizing: border-box;
    max-height: 80%;
}

#property-description-modal>.panel>.panel-content {
    overflow: auto;
}

#property-description-modal article {
    font-size: 1rem;
    text-align: justify;
    text-shadow: 1px 1px #000000;
}

#property-description-modal article h1 {
    text-align: center;
}


/* Graph configuration */

#graph-config-form {
    font-size: 1rem;
    text-shadow: 1px 1px #000000;
}

#graph-config-form>div {
    margin: 10px 0;
}

#graph-config-form select {
    width: 150px;
}


/* Graph panel */

#graph-panel {
    width: var(--graph-panel-width);
    height: calc(var(--graph-panel-width) + 50px);
}

#graph-panel .panel-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(var(--graph-panel-width) - 6px);
    width: calc(var(--graph-panel-width) - 6px);
}

#graph-panel canvas {
    background-color: #ffffff;
    flex-grow: 0;
}